header {
	color: white;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	display: flex;
	align-items: center;
}

header .logo {
    margin-left: 20px;
    background: url("../images/logo.png")
}
